[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
scipy = "*"
scikit-learn = "*"
matplotlib = "*"
pyinstaller = "*"
pysimplegui = "*"
h5py = "*"
notebook = "*"
ffmpeg = "*"
tqdm = "*"
ffmpeg-python = "*"
requests = "*"
deeplabcut = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"

[requires]
python_version = "3.7"
